[dir='rtl'] .me-2 {
    margin-right: unset !important;
    margin-left: 0.5rem !important;
}

[dir='rtl'] .ms-auto {
    margin-right: auto !important;
    margin-left: unset !important;
}

[dir='rtl'] .ms-2 {
    margin-right: 0.5rem !important;
    margin-left: unset !important;
}

[dir='rtl'] .ms-5 {
    margin-right: 3rem !important;
    margin-left: unset !important;
}