.insite-loading-overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.insite-loading-overlay-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
}