<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="20000" />
    <add key="ValidationSettings:UnobtrusiveValScheduledGrididationMode" value="None" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="EPPlus:ExcelPackage:License" value="NonCommercialPersonal:Test Debug" />
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
  <system.web>
    <globalization uiCulture="en" culture="en-CA" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="System.Globalization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>

	<!-- customErrors is handled by the ASP.NET runtime. Applies to errors that occur inside the ASP.NET pipeline, such 
	     as code-level exceptions in .aspx files. -->
	<customErrors mode="RemoteOnly" defaultRedirect="/UI/Lobby/Logs/500.aspx">
		<error statusCode="400" redirect="/UI/Lobby/Logs/400.aspx" />
		<error statusCode="403" redirect="/UI/Lobby/Logs/403.aspx" />
		<error statusCode="404" redirect="/UI/Lobby/Logs/404.aspx" />
		<error statusCode="410" redirect="/UI/Lobby/Logs/410.aspx" />
		<error statusCode="500" redirect="/UI/Lobby/Logs/500.aspx" />
	</customErrors>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <httpRuntime enableVersionHeader="false" executionTimeout="110" maxRequestLength="524288" requestValidationMode="2.0" targetFramework="4.8" requestPathInvalidCharacters="" />
    <machineKey decryption="AES" decryptionKey="480CFA39920F4EF8068A7665E68E75B5525B810E59BD722D2BACCDAEDA55D7EE" validation="HMACSHA256" validationKey="E2C5FD2980553740F85C9970137B4B700C49E30D49EC7553F4AF3A10F7685ACD8E3C700F3167CA13794715DDC0413756772AAE3F853FA8ACE20CB873EC36A4BE" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="microsoft" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add tagPrefix="chart" namespace="InSite.Common.Web.UI.Chart" assembly="InSite.UI" />
        <add tagPrefix="cmds" namespace="InSite.Custom.CMDS.Common.Controls.Server" assembly="InSite.UI" />
        <add tagPrefix="ncsha" namespace="InSite.Custom.Ncsha.Web.UI" assembly="InSite.UI" />
        <add tagPrefix="iecbc" namespace="InSite.Custom.IECBC.Web.UI" assembly="InSite.UI" />
        <add tagPrefix="insite" namespace="InSite.Common.Web.UI" assembly="InSite.UI" />
        <add tagPrefix="insite" namespace="Shift.Sdk.UI" assembly="Shift.Sdk" />
        <add tagPrefix="uc" src="~/UI/Layout/Common/Controls/Breadcrumbs.ascx" tagName="Breadcrumbs" />
      </controls>
      <namespaces>
        <add namespace="System.Data" />
        <add namespace="System.Web" />
        <add namespace="InSite" />
        <add namespace="InSite.Common" />
        <add namespace="InSite.Common.Web.UI" />
        <add namespace="Shift.Common" />
        <add namespace="Shift.Constant" />
      </namespaces>
    </pages>
    <sessionState mode="InProc" cookieless="false" cookieName="Shift.SessionState.Local" timeout="60" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpHandlers />
  </system.web>
  <location path="library/fonts/font-awesome/7.1.0/webfonts">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <system.webServer>
    <handlers>
      <remove name="TraceHandler-Integrated" />
      <remove name="TraceHandler-Integrated-4.0" />
      <add name="SitemapHandler" path="*.xml" verb="GET" type="System.Web.UI.PageHandlerFactory" />
      <add name="ResourceBundle_axd" verb="*" preCondition="integratedMode" path="ResourceBundle.axd" type="InSite.Web.Persistence.ResourceBundle" />
      <add name="ProgressStatus_axd" verb="*" preCondition="integratedMode" path="ProgressStatus.axd" type="InSite.Web.Persistence.ProgressStatus" />
      <add name="ReportViewerWebControlHandler" verb="*" preCondition="integratedMode" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	  <add name="ApiFileRouting" path="api/assets/files/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    
    <!-- httpErrors is handled by IIS. Applies to all HTTP responses, including static files, routing failures, and
	     problems that occur before the ASP.NET pipeline is invoked. -->
    <httpErrors errorMode="DetailedLocalOnly">
        <remove statusCode="400" />
        <remove statusCode="403" />
        <remove statusCode="404" />
        <remove statusCode="410" />
		<remove statusCode="500" />
        <error statusCode="400" path="/UI/Lobby/Logs/400.aspx" responseMode="ExecuteURL" />
        <error statusCode="403" path="/UI/Lobby/Logs/403.aspx" responseMode="ExecuteURL" />
        <error statusCode="404" path="/UI/Lobby/Logs/404.aspx" responseMode="ExecuteURL" />
        <error statusCode="410" path="/UI/Lobby/Logs/410.aspx" responseMode="ExecuteURL" />
		<error statusCode="500" path="/UI/Lobby/Logs/500.aspx" responseMode="ExecuteURL" />
    </httpErrors>
	  
    <modules>
      <add name="CookieTokenModule" type="InSite.CookieTokenModule,InSite.UI" />
      <add name="CurrentSessionModule" type="InSite.CurrentSessionModule,InSite.UI" />
    </modules>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="536870912" />
      </requestFiltering>
    </security>
    <rewrite>
		<rules>

			<rule name="Block AppSettings" stopProcessing="true">
				<match url=".*AppSettings.*\.json$" />
				<action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access denied" />
			</rule>
			<rule name="Block Config Folder" stopProcessing="true">
				<match url="^config/.*" />
				<action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access denied" />
			</rule>
			
			<!-- Fixes -->

			<rule name="DEV-9392 Replace employee with userID (A)" stopProcessing="true">
				<match url="^ui/cmds/design/validations/competencies/search$" />
				<conditions>
					<add input="{QUERY_STRING}" pattern="employee=(.+)" />
				</conditions>
				<action type="Redirect" url="ui/cmds/design/validations/competencies/search?userID={C:1}" appendQueryString="false" redirectType="SeeOther" />
			</rule>
			<rule name="DEV-9392 Replace employee with userID (B)" stopProcessing="true">
				<match url="^ui/cmds/portal/validations/competencies/validate$" />
				<conditions>
					<add input="{QUERY_STRING}" pattern="id=(.+)&amp;employee=(.+)&amp;keepWorkingSet=yes" />
				</conditions>
				<action type="Redirect" url="ui/cmds/portal/validations/competencies/validate?id={C:1}&amp;userID={C:2}&amp;keepWorkingSet=yes" appendQueryString="false" redirectType="SeeOther" />
			</rule>
			<rule name="Assets: Fix old program launch links" stopProcessing="true">
				<match url="^asset/(launch|program)/(.+)$" />
				<action type="Redirect" url="user/asset/{R:1}/{R:2}" redirectType="SeeOther" />
			</rule>
			<rule name="Courses: Fix old course learn links 1" stopProcessing="true">
				<match url="^course/learn/(.+)$" />
				<action type="Redirect" url="ui/portal/courses/learn/{R:1}" redirectType="SeeOther" />
			</rule>
			<rule name="Courses: Fix old course learn links 2" stopProcessing="true">
				<match url="^ui/portal/courses/learn/(.+)$" />
				<action type="Redirect" url="ui/portal/learning/course/{R:1}" redirectType="SeeOther" />
			</rule>
			<rule name="Courses: Fix old SCORM launch links" stopProcessing="true">
				<match url="^course/scorm/(.+)$" />
				<action type="Redirect" url="ui/portal/integrations/scorm/launch/{R:1}" redirectType="SeeOther" />
			</rule>
			<rule name="Messages: Fix old message links" stopProcessing="true">
				<match url="^(user/link/navigate|admin/messages/link|user/messages/link)$" />
				<action type="Redirect" url="/ui/lobby/messages/links/redirect" appendQueryString="true" />
			</rule>
			<rule name="Messages: Fix old message clicks" stopProcessing="true">
				<match url="^user/links/click$" />
				<action type="Redirect" url="/ui/lobby/messages/links/click" appendQueryString="true" />
			</rule>
			<rule name="Sites: Old Accounts" stopProcessing="true">
				<match url="^ui/(launch|site)/accounts/(register|reset-password|signin|signout|verify-email)$" />
				<action type="Redirect" url="/ui/lobby/{R:2}" appendQueryString="true" />
			</rule>
			<rule name="Sites: Old Subscribe" stopProcessing="true">
				<match url="^ui/site/contacts/subscribe$" />
				<action type="Redirect" url="/ui/lobby/subscribe" appendQueryString="true" />
			</rule>
			<rule name="Surveys: Old Survey Response Search" stopProcessing="true">
				<match url="^(ui/portal/surveys/responses/search|ui/survey/respond/search)$" />
				<action type="Redirect" url="/ui/portal/workflow/forms/submit/search" appendQueryString="false" />
			</rule>
			<rule name="Surveys: Old Survey Response Start" stopProcessing="true">
				<match url="^surveys?/(.+)$" />
				<action type="Redirect" url="/form/{R:1}" appendQueryString="true" />
			</rule>
			<rule name="Plugin: Old ITA Exam Authentication" stopProcessing="true">
				<match url="^custom/ita/exams/authenticate$" />
				<action type="Redirect" url="/ui/lobby/events/login" appendQueryString="true" />
			</rule>
			<rule name="Workflow: Old Issue Outline" stopProcessing="true">
				<match url="^ui/admin/issues/outline$" />
				<action type="Redirect" url="/ui/admin/workflow/cases/outline" appendQueryString="true" />
			</rule>

			<!-- API Changes -->

			<rule name="API: mvc/events/CreateExamScrapPaper" stopProcessing="true">
				<match url="^mvc/events/CreateExamScrapPaper" />
				<action type="Rewrite" url="/api/events/scrap-paper" />
			</rule>

			<!-- Plugins (customer-specific variants) -->

			<rule name="CAF" stopProcessing="true">
				<match url="^(ui/desktops/custom/caf/youthassessment)|youthassessment" />
				<conditions>
					<add input="{HTTP_HOST}" pattern="caf\.insite\.com$" />
				</conditions>
				<action type="Redirect" url="https://caf-trades.insite.com/" appendQueryString="false" />
			</rule>

			<!-- Portal/Assessments/Attempts -->

			<rule name="Redirect: ui/portal/assessments/attempts/start/{assessment}" stopProcessing="true">
				<match url="^ui/portal/assessments/attempts/start/([0-9a-f-]+)$" />
				<action type="Redirect" url="/ui/portal/assessments/attempts/start?resource={R:1}" redirectType="SeeOther" appendQueryString="true" />
			</rule>
			<rule name="Redirect: ui/portal/assessments/attempts/start/{course}/{assessment}" stopProcessing="true">
				<match url="^ui/portal/assessments/attempts/start/([0-9a-f-]+)/([0-9a-f-]+)$" />
				<action type="Redirect" url="/ui/portal/assessments/attempts/start?course={R:1}&amp;lesson={R:2}" redirectType="SeeOther" appendQueryString="true" />
			</rule>

			<!-- Defaults -->

			<rule name="Force SSL Connections" enabled="true" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{HTTPS}" pattern="^OFF$" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
			</rule>

			<rule name="Static Content" stopProcessing="true">
				<match url="^(cmds/(content|downloads))|library/" />
				<action type="None" />
			</rule>

			<rule name="Static Content (errors: html)" stopProcessing="true">
				<match url="^(400)$" />
				<action type="Rewrite" url="/ui/lobby/logs/{R:1}.html" />
			</rule>

			<rule name="Static Content (errors: aspx)" stopProcessing="true">
				<match url="^(403|404|410|500)$" />
				<action type="Rewrite" url="/ui/lobby/logs/{R:1}.aspx" />
			</rule>
			
			<rule name="Static Content (files)" stopProcessing="true">
				<match url="^files/(.+)$" />
				<action type="Rewrite" url="/Web/Persistence/DownloadFile.ashx?path={R:1}" />
			</rule>

			<rule name="Static Content (images)" stopProcessing="true">
				<match url="^images/(.+)$" />
				<action type="Rewrite" url="/library/images/{R:1}" />
			</rule>

			<rule name="Static Content (in-content)" stopProcessing="true">
				<match url="^in-content/(.+)$" />
				<action type="Rewrite" url="/Web/Persistence/DownloadFile.ashx?path={R:1}" />
			</rule>

			<rule name="Static Content (uploads)" stopProcessing="true">
				<match url="^uploads/(.+)$" />
				<action type="Rewrite" url="/Web/Persistence/DownloadFile.ashx?path={R:1}" />
			</rule>

			<rule name="Static Content (uploads for CMDS)" stopProcessing="true">
				<match url="^cmds/uploads/(.+)/(.+)$" />
				<action type="Rewrite" url="/Web/Persistence/DownloadFile.ashx?id={R:1}&amp;name={R:2}" />
			</rule>

			<rule name="Health/Status Check" stopProcessing="true">
				<match url="^ui/(health|status)$" />
				<action type="Rewrite" url="/Web/Persistence/AppStatus.ashx" />
			</rule>

			<rule name="Version" stopProcessing="true">
				<match url="^ui/version" />
				<action type="Rewrite" url="/Web/Persistence/AppStatus.ashx" />
			</rule>
			
			<rule name="Refer to Routing.Configuration (1 of 2)" stopProcessing="true">
				<match url="^(admin|cmds|course|error|help|lti|portals|form|ui)/" />
				<action type="None" />
			</rule>

			<rule name="Refer to Routing.Configuration (2 of 2)" stopProcessing="true">
				<match url="^(custom/ita/exams/authenticate)" />
				<action type="None" />
			</rule>

			<!-- Sites -->

			<rule name="Sign In" stopProcessing="true">
				<match url="^(?:(portal|user)/(account|users)/signin)?$|^login$" />
				<action type="Redirect" url="/ui/lobby/signin" appendQueryString="false" redirectType="SeeOther" />
			</rule>

			<!-- Portal/Progressions -->

			<rule name="Redirect: portal/progressions/reports/certificate/{id}/{user}">
				<match url="^portal/progressions/reports/certificate/([0-9a-z-]+)/([0-9a-z-]+)$" />
				<action type="Rewrite" url="/ui/portal/records/credentials/certificate?id={R:1}&amp;user={R:2}" redirectType="SeeOther" appendQueryString="true" />
			</rule>

			<rule name="Redirect: portal/progressions/reports/certificate/{id}" stopProcessing="true">
				<match url="^portal/progressions/reports/certificate/([0-9a-z-]+)?$" />
				<action type="Redirect" url="/ui/portal/records/credentials/certificate?id={R:1}" redirectType="SeeOther" appendQueryString="true" />
			</rule>

		</rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".mp4" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="500.00:00:00" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory,EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Humanizer" publicKeyToken="979442B78DFC278E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.0" newVersion="2.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Frameworks" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.7.0.127" newVersion="6.7.0.127" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sentry" publicKeyToken="fba2ec45388e2af0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.30.0.0" newVersion="3.30.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml.Framework" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>
