.search-criteria-section {
    display: grid;
    column-gap: 1.5rem;
    row-gap: 0.5rem;

    grid-template-rows: min-content 1fr;

    &.size-1 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.size-2 {
        grid-template-columns: 2fr 1fr 1fr;
    }

    &.size-3 {
        grid-template-columns: 3fr 1fr;
    }

    .field-section {
        grid-row: 1 / 3;
    }
}